input {
  all:unset; 
  background-color: #2f3144;
  color: #ffffff;
  border: 1px solid transparent;
  margin: 2px;
  padding: 4px ;
  border-radius: 4px; 
}

input::placeholder {
  color: #9fa3c8;
  font-size: smaller;
}