
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    border-top: 2px solid black;
    border-right: 2px solid black;
    
    animation: spin 0.5s linear infinite; 
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}